---
layout: default
title:
canonical_url: "http://blog.ramakrishnan.me"
---

<div id="blog-posts">
  <header class="bloghead">
  <h1 class="bloghead-title"><i class="fa fa-book fa-2x"></i> ramkrish's <span>Blog<span></h1>
  </header>
  <div class="posts">
    {% for post in paginator.posts %}
    	<div class='blog-post'>
        <div class='blog-post-post-meta'>
       		{{ post.date | date_to_string }}
       	</div>
	      <a class='blog-post-title' href="{{ post.url }}">{{ post.title }}</a><br/>
	      <a class='blog-post-subtitle' href="{{ post.url }}">{{ post.subtitle }}</a><br/>
        <a class='blog-post-subtitle' href="{{ post.url }}">{{ post.description }}</a>
      </div>

    {% endfor %}
  </div>

  <!-- Pagination links -->
	<div id="post-pagination" class="pagination">
    <ul class="pager">

      {% if paginator.previous_page %}

		      {% if paginator.previous_page == 1 %}
		        <a href="/">Previous</a>
		      {% else %}
		        <a href="{{ paginator.previous_page_path }}">Previous</a>
		      {% endif %}
		  {% else %}
		  {% endif %}
      {% if paginator.total_pages > 1 %}
      &nbsp;Page {{ paginator.page }} of {{ paginator.total_pages }} &nbsp;&nbsp;&nbsp;
      {% endif %}

      {% if paginator.next_page %}
		      <a href="{{ paginator.next_page_path }}">Next</a>
		  {% else %}
		      <!-- <span>Next</span> -->
		  {% endif %}
    </ul>
</div>
	<!-- Pagination links end -->

</div>
